<th:block th:fragment="ui(pagination, form, id)">
	<a 	data-loading="loader"
		th:each="item : ${pagination.smallPageList}" 
		th:text="${item.index}" 
		th:class="${pagination.resolveBtnCssClass('btn btn-default btn-circle','btn btn-primary btn-circle', item.index)}" 
		th:onclick="${id+'_submeterForm('''+form+''', '''+item.path+''')'}"
		class="btn btn-default btn-circle"> 1 </a>
		
		<script>
			function [[${id}]]_submeterForm(form, path){
			
				$(form).attr('action',path);
				//alert( $(form).attr('action') );
				$(form).submit();
			
			}
		</script>
		
</th:block>
