
<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />

<body>

    <div id="wrapper">

        <nav th:replace="fragments/navigation :: navbar"  />

        <div id="page-wrapper">
        
        	<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Gerenciar Bolões</h1>
                    <h3 th:if="${bolao.id == 0}">Novo Bolão</h3>
                    <h3 th:if="${bolao.id != 0}">Editar</h3>
                </div>
            </div>
        
        	<form th:action="@{/bolao/salvar}" th:object="${bolao}" method="post">
        			
        		 <input type="hidden" th:field="*{id}">
        	
	        	  <div class="form-group">
				    <label for="nome">Nome do Bolão:</label>
				    <input type="text" class="form-control" id="nome" th:field="*{nome}">
				  </div>
				  <div class="form-group">
				    <label for="permaLink">Link:</label>
				    <input type="text" class="form-control" id="permaLink" th:field="*{permalink}">
				  </div>
				  
				  <div class="form-group">
				    <label for="valor">Valor da Cota:</label>
				    <div class="input-group">
      					<div class="input-group-addon">R$</div>
      					<input 	id="valor" 
      							type="number" 
      							min="0.00" 
      							step="0.05" 
      							class="form-control" 
      							placeholder="Valor da cota"
      							th:field="*{valor}">
      				</div>
				  </div>
				  
				  <div class="form-group">
				    <label for="valor">Taxa administrativa:</label>
				    <div class="input-group">
      					<div class="input-group-addon">%</div>
      					<input 	id="taxaAdministrativa" 
      							type="number" 
      							min="0.00" 
      							step="0.05" 
      							class="form-control" 
      							placeholder="Taxa administrativa em %"
      							th:field="*{taxaAdministrativa}">
      				</div>
				  </div>
				  
				  <div class="form-group">
				    <label for="permaLink">Regras:</label>
				    <textarea class="form-control" rows="20" th:field="*{regras}"></textarea>
				  </div>
				  
				  
				  <button type="submit" class="btn btn-info btn-block" th:text="${bolao.id == 0 ? 'Cadastrar' : 'Salvar'}">Salvar</button>
        	</form>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />
    

</body>

</html>