<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />


<body>

    <div id="wrapper">

        <nav th:replace="fragments/navigation :: navbar"></nav>

        <div id="page-wrapper">
        
        	<div class="row">
                <div th:replace="fragments/main :: messages"  class="col-lg-12"></div>
                
                <div class="col-lg-10">
                    <h1 class="page-header">Funcionalidades
                    <small>Funções do Sistema</small>
                    </h1>
                </div>
            </div>
            
            <div class="row">
       
	            <table class="table" id="grid">
	            	<caption></caption>
	            	<thead>
	            		<tr>
	            			<th>Funcionalidade</th>
	            			<th>Menu</th>
	            			<th>Path</th>
	            			<th>Ícone</th>
            				<th></th>
	            		</tr>
	            	</thead>
	            	<tbody>
	            		<th:block th:each="item : ${menuItems}">
	             		<tr>

	             			<td><strong>[[${item.name}]]</strong><br />
	             			[[${item.controller.name}]].[[${item.method.name}]]
	             			</td>
	            			<td>[[${item.hierarchy}]]</td>
	            			<td>[[${item.path}]]</td>
	            			<td>[[${item.icon}]]</td>
	             	
	             			<td class="text-right">
                      			<a class="btn btn-primary btn-circle" 
                      				data-toggle="tooltip" 
                      				data-placement="top" 
                      				title="Editar Dados do Menu">
                      				<span class="glyphicon glyphicon-pencil"></span>
                      			</a>
                     		</td>
	             		</tr>	
	            		</th:block>
	            	</tbody>
	            </table>
	         </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />
    
	<script>
	    $(document).ready( function () {
	    $('#grid').DataTable();
		} );
	</script>

</body>


</html>
