<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Autentique-se no bolão Guimas na Copa, o mais divertido de tdos!">
    <meta name="author" content="Dinarte">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <style>
    	.alert{
    	margin: 12px}
    </style>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Identifique-se Jogador!</h3>
                    </div>
                    
             
                    <div th:if="${appMessages} != null">
                   	   <div th:each="msg : ${appMessages.successList}">
                           <div class="alert alert-success" >
                              <span th:text="${msg}"> menssagem do sistema</span>
                           </div>
                       </div>
                    
                       <div th:each="msg : ${appMessages.infoList}">    
                           <div class="alert alert-info" >
                            <span th:text="${msg}"> menssagem do sistema</span>
                           </div>
                       </div>
                           
                       <div th:each="msg : ${appMessages.warningList}">   
                           <div class="alert alert-warning">
                               <span th:text="${msg}"> menssagem do sistema</span>
                           </div>
                       </div>
                           
                        <div th:each="msg : ${appMessages.errorList}">  
                           <div class="alert alert-danger">
                               <span th:text="${msg}"> menssagem do sistema</span>
                           </div>
                     	 </div>
                    </div>       
                    
                    
                    
                    <div class="panel-body">
                        <form role="form" action="/#" th:action="@{/login}"  method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail"  name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="pass" type="password" value="">
                                </div>
                                
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

</html>
