<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />

<body>

    <div id="wrapper">

        <nav th:replace="fragments/navigation :: navbar"  />

        <div id="page-wrapper">
        
        	<div class="row">
                <div class="col-lg-10">
                    <h1 class="page-header" th:text="${autenticacao.bolao.nome}">Descrição do Bolão</h1>
                    <h3>Jogos</h3>
                </div>
                <div class="col-lg-2" style="vertical-align: middle; text-align: center; padding: 8px;">
                	<a href="/jogo/novo" class="btn btn-primary"> + Novo Jogo</a>
                </div>
            </div>
       
	            <table class="table">
	            	<thead>
	            		<tr>
	            			<th>Fase</th>
	            			<th>Grupo</th>
	            			<th style="text-align: center"> Jogo </th>
	            			<th>Data do Jogo</th>
	            			<th>Limite Aposta</th>
	            			<th></th>
	            		</tr>
	            	</thead>
	            	<tbody>
	            		<th:block th:each="jogo : ${jogoList}">
	             		<tr>
	             			<td th:text="${jogo.fase.nome}">Fase</td>
	             			<td th:text="${jogo.grupo}">Grupo A</td>
	             			<td th:text="${jogo.timesDescricao}" style="text-align: center">
	             				Time a x Time b
	             			</td>
	             			<td th:text=" ${#temporals.format(jogo.data, 'dd/MMM/yyyy HH:mm')} " >
	             			   X/XX/XXXX XX:XX
	             			</td>
	             			<td th:text=" ${#temporals.format(jogo.limiteAposta, 'dd/MMM/yyyy HH:mm')}" >
	             			   X/XX/XXXX XX:XX
	             			</td>
	             			<td >
	             				<a class="btn btn-primary" th:href="${jogo.id+'/editar'}"
		                        				data-toggle="tooltip" 
		                        				data-placement="top" 
		                        				title="Editar Dados do Jogo">
		                        				<span class="glyphicon glyphicon-pencil"></span>
		                        			</a>
	             			</td>
	             		</tr>
	            		</th:block>
	            	</tbody>
	            </table>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />
    

</body>


</html>
