<div th:fragment="cards">
<style>
           
            .panel-body{
            
            padding: 4px
            }
            
            .panel-heading {
             	text-align: center;
            }
            
            
            .tab-jogo{
            	width: 100%;
            	
            }
            
            .tab-jogo .desc-p{
  	          text-align: center;
            }
            .tab-jogo .vs{
            	width: 20%;
            	text-align: center;
            	vertical-align: middle;
            }
            .tab-time .vs{
            	width: 20%;
            }
            
            .data_h{
            	text-align: center;
            	color: #ccc;
            	font-weight: bold;
            }
            
            .p-valor{
            	width:5%;
            	text-align: center;
            }
            
            .p-compara{
            	width:5%;
            	text-align: center;
            	color: #ccc;
            	font-weight: bolder;
            }
            
            .p-result{
            	color: #1E90FF;
            	font-weight: bolder;
            }
            .campeao{
            	text-align: center;
            }
            
            .grupo .panel-heading{color: #fff}
            .grupoa{border: 1px solid #87CEEB}
            .grupoa .panel-heading{
            	background-color: #87CEEB;
            }
            .grupob{border: 1px solid  #DC143C}
            .grupob .panel-heading{
            	background-color:  #DC143C;
            }
            .grupoc{border: 1px solid #48D1CC}
            .grupoc .panel-heading{
            	background-color: #48D1CC;
            }
            .grupod{border: 1px solid #FFA500}
            .grupod .panel-heading{
            	background-color: #FFA500;
            }
            .grupoe{border: 1px solid #66CDAA}
            .grupoe .panel-heading{
            	background-color: #66CDAA;
            }
            .grupof{border: 1px solid #B0E0E6}
            .grupof .panel-heading{
            	background-color: #B0E0E6;
            }
            .grupog{border: 1px solid #DB7093}
            .grupog .panel-heading{
            	background-color: #DB7093;
            }
            .grupoh{border: 1px solid #DA70D6}
            .grupoh .panel-heading{
            	background-color: #DA70D6;
            }
            
            </style>
         
         	 
         	<div class="row">
         
         	
	         	<th:block th:each="palpite : ${palpites}">
		         	<div th:class="${'col-lg-'+ colunasCards }">
					  <div th:class="${'panel panel-info grupo ' + palpite.colorClass}" >
					  	<div class="panel-heading" >
					  		<span th:text="${palpite.descricaoDaFase} ">Eliminatórias - Grupo A</span> 
					  	</div>
					    <div class="panel-body">
					    	<table class="tab-jogo">
						    	<tr>
						    		<th></th>
						    		<th></th>
						    		<th class="dsc-p"></th>
						    		<th class="dsc-p"></th>
					    		</tr>
					    		<tr>
					    			<td colspan="4" class="data_h">
					    				<span th:if="${palpite.resultado}" th:text="${#temporals.format(palpite.jogo.data, 'dd MMM hh:mm')}">12:20</span>
					    				<span th:if="${palpite.jogo?.data == null}" style="color: #fff"> - </span>
					    				<a th:href="${'/palpite/'+palpite.id+'/detalhar'}" class="glyphicon glyphicon-search" 
					    					aria-hidden="true" 
					    					tile="Detalhar palpite"></span>
					    				</td>
					    		</tr>
					    		
					    		<th:block th:if="${palpite.acertarCampeao}" >
						    		<tr>
						    			<td colspan="4" class="campeao">
						    					<span th:text="${ palpite.apostaAberta ? '?' : palpite.timeA.flag + ' ' + palpite.timeA?.nome}">Brasil</span>
						    					<br />
						    					<span th:if="${!meuPalpite}" style="color: #ccc" th:text="${palpite.palpiteComparado.timeA?.nome}">Uruguai</span>
						    			</td>
						    		</tr>
					    		</th:block>
					    		
					    		
					    		<th:block th:if="${palpite.acertarTimes}" >
						    		<tr>
						    			<td colspan="1" class="campeao">
						    					<span th:text="${ palpite.apostaAberta ? '?' :  palpite.timeA?.flag + ' ' + palpite.timeA?.nome}">Brasil</span>
						    					<br />
						    					<span th:if="${!meuPalpite}" style="color: #ccc" th:text="${palpite.palpiteComparado.timeA?.nome}">Uruguai</span>
						    			</td>
						    			<td colspan="1" style="text-align: cent;"> VS </td>
						    			<td colspan="2" class="campeao">
						    					<span th:text="${ palpite.apostaAberta ? '?' :  palpite.timeB?.flag + ' ' + palpite.timeB?.nome}">Brasil</span>
						    					<br />
						    					<span th:if="${!meuPalpite}" style="color: #ccc" th:text="${palpite.palpiteComparado?.timeB?.nome}">Uruguai</span>
						    			</td>
						    		</tr>
					    		</th:block>
		
		
					    		<th:block th:if="${palpite.resultado}" >
					    		
						    		<tr>
						    			<td rowspan="3" class="vs">
						    				 VS
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="time" th:text="${palpite.timeA.flag + ' ' + palpite.timeA?.nome  }">Brasil</td>
						    			<td class="p-valor">
						    				<span th:if="${palpite.apostaAberta && !meuPalpite}"> ? </span>
						    				<span th:if="${!palpite.apostaAberta || meuPalpite}"  th:text="${palpite.golsTimeA}" > 1 </span>
						    			</td>
						    			<td class="p-compara" th:if="${palpiteComComparacao}">
						    				<span th:text="${palpite.palpiteComparado.golsTimeA}" > 1 </span>
						    			</td>
						    			<td class="p-result" th:if="${palpiteComResultado}">
						    				<span th:text="${palpite.golsDoJogoTimaA}" > 1 </span>
						    			</td>
						    		</tr>
						    		<tr>
						    			<td class="time" th:text="${ palpite.timeB.flag + ' ' + palpite.timeB?.nome}">Espanha</td>
						    			<td class="p-valor">
						    				<span th:if="${palpite.apostaAberta && !meuPalpite}" > 
						    					?
						    				</span>
						    				<span th:if="${!palpite.apostaAberta || meuPalpite}"  th:text="${palpite.golsTimeB}" >
						    				 	1 
						    				 </span>
						    			</td>
						    			<td class="p-compara" th:if="${palpiteComComparacao}">
						    				<span th:text="${palpite.palpiteComparado.golsTimeB}" > 1 </span>
						    			</td>
						    			<td class="p-result" th:if="${palpiteComResultado}">
						    				<span th:text="${palpite.golsDoJogoTimaB}" > 1 </span>
						    			</td>
						    		</tr>
						    	
						    	
					    		</th:block>
					    		
					    	</table>
					    </div>
					    <div style="text-align: center; color:blue; height:35px; font-size:12px;"  
					    	th:text="${palpite.pontuacaoAtingida != null ? palpite.regraPontuacao + ' ' + palpite.pontuacaoAtingida + ' pts' : ' ' }"> 10 pts  </div>
					  </div>
					 </div>
				</th:block> 
			</div>
</div>			