			<div th:fragment="menu_admin" class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    
                    	<li class="sidebar-search">
                    		<div class="row" >
	                    		<div class="col-sm-4 col-md-4 col-lg-4">
		                            <span class="btn btn-default btn-circle btn-lg"><i class="fa fa-user"></i>
		                            </span>
	                            </div>
	                            <div class="col-sm-8 col-md-8 col-lg-8" style="padding-top: 5px;">
	                            	<span th:text="${autenticacao.usuario.name}">NOME DO PARTICIPANTE</span>
	                            </div>
                            </div>
                    	</li>
                    
                    	 <li >
                           
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Desenvolvedor <span class="fa arrow"></span></a>
                            
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/pages/index.html"> Elementos Front-end</a>
                                </li>
                                <li>
                                    <a href="/funcionalidades"> Funcinalidades </a>
                                </li>
                                <li>
                                    <a href="/doc/index.html"> Java Doc </a>
                                </li>
                            </ul>
                            
                        </li>
                    
                    
                        <li th:each="node : ${menuRoot.children}">
                           
                            <a th:href="${node.item.path}"><i th:class="${node.item.icon}"></i> [[${node.item.name}]] <span th:if="${#lists.size(node.children)}>0" class="fa arrow"></span></a>
                            
                            <ul th:if="${#lists.size(node.children)}>0" class="nav nav-second-level">
                                <li th:each="node2 : ${node.children}">
                                    
                                    <a th:href="${node2.item.path}"><i th:class="${node2.item.icon}"></i> [[${node2.item.name}]] <span th:if="${#lists.size(node2.children)}>0" class="fa arrow"></span></a>
                                    
                                    	<ul th:if="${#lists.size(node2.children)}>0" class="nav nav-third-level">
		                                <li th:each="node3 : ${node2.children}">
		                                    <a th:href="${node3.item.path}"><i th:class="${node3.item.icon}"></i> [[${node3.item.name}]] <span th:if="${#lists.size(node3.children)}>0" class="fa arrow"></span></a>
		                                </li>
		                            </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <!-- /.sidebar-collapse -->
                            
            </div>
            <!-- /.navbar-static-side -->
            
       
       