<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />


<body>

    <div id="wrapper">

        <nav th:replace="fragments/navigation :: navbar"></nav>

        <div id="page-wrapper">
        
        	<div class="row">
                
                <div class="col-lg-10">
                    <h1 class="page-header">[[${autoCrudData.entity.name}]]
                    <small>[[${autoCrudData.entity.description}]]</small>
                    </h1>
                </div>
                  	
                
                <div class="col-lg-1 btn-add-contaniner" style="vertical-align: middle; text-align: center; padding: 8px;">
                	
                	<a 	data-loading="loader"
                		th:href="${'/crud/'+autoCrudData.entity.entityName+'/add'}"> 
                	
                	<i class="fas fa-plus-circle"  
                			data-toggle="tooltip" 
                      		data-placement="top"
                      		title="Novo Registro" 
                      		></i>
                	
                	</a>
                </div>
                
                <div class="col-lg-1 btn-filter-contaniner" style="vertical-align: middle; text-align: center; padding: 8px;">
                	
                	<a data-toggle="filtros"  data-show-modal="filtros"> 
                	<i class="fas fa-filter"  
                			data-toggle="tooltip" 
                      		data-placement="top"
                      		title="Filtrar Listagem" 
                      		></i>
                	</a>
                </div>
                
            </div>
            
            <div class="row">
               	<div th:replace="fragments/main :: messages"  class="col-lg-12"></div> 
		       </div>  
            
            <form id="formAc" action="#" th:action="@{${'/crud/'+autoCrudData.entity.entityName}}" th:object="${obj}" method="post">
	 
	 
	 			<div id="filtros" class="df-modal">
		            <div class="panel panel-default" >
			            	
			            	<div class="panel-heading">
			            		<strong> <i class="fas fa-filter" ></i>  Filtrar [[${autoCrudData.entity.name}]]:</strong>
			            	</div>
			            	
			            	<div class="panel-body">
				            	<div th:each="field : ${autoCrudData.entity.fieldsOnFilter}" class="col-lg-4">
				            		
				            		<div class="panel-group">
				            			<label th:text="${field.meta.label()}"></label>
				            			<ui th:replace="${'auto_crud/ui/'+field.defaultUi} :: ui(${field})" ></ui>
				            		</div>
				            		
				            	</div>
			            	</div>
			            	
			            	
			            	<div class="panel-footer text-center">
				            	<button type="submit" class="btn btn-warning btn-xl" data-loading="loader" data-close-modal="filtros">Aplicar Filtros</button>
				            	<button type="button" class="btn btn-default btn-xl" data-close-modal="filtros">Fechar</button>
			            	</div>
		            </div>
	            </div>
	            
	            <br />
	            <br />
	            
	            <div class="row">
	            
	            	<div class="row text-center"> 
			         	<ui th:replace="auto_crud/ui/data/pagination :: ui(${autoCrudData.pagination},'#formAc', 'pagination1')" ></ui>
			         </div> 
	       
		            <table class="table responsive-card-table unstriped" id="grid" >
		            	<caption>Encontrados [[${autoCrudData.pagination.totalResults}]] registros, exibindo do: [[${autoCrudData.pagination.initPosition}]] ao [[${autoCrudData.pagination.finalPosition}]]</caption>
		            	<thead>
		            		<tr>
		            			<th:block th:each="field : ${autoCrudData.entity.fieldsOnList}">
			            			<th>[[${field.meta.label()}]]</th>
		            			</th:block>		            			
		            			<th></th>
		            		</tr>
		            	</thead>
		            	<tbody>
		            		<th:block th:each="item : ${autoCrudData.data}">
		             		<tr>
		             			<th:block th:each="field : ${autoCrudData.entity.fieldsOnList}">
		             			
		 
		             			<td th:data-label="${field.meta.label()}" >
		             				<ui th:replace="${'auto_crud/ui/'+field.meta.formater()} :: formater(${field},${item.get(field.fieldName)})" ></ui>
		             			</td>
		             			 
		             			</th:block>
		             			<td data-label="Opçoes" class="text-right">
	                      			<a  th:each="action : ${item.actions}"
	                      				data-loading="loader"
	                      				th:class="${action.cssClass}"
	                      				style="margin:2px;" 
	                      				th:href="${action.path}"
	                      				data-toggle="tooltip" 
	                      				data-placement="top" 
	                      				th:title="${action.description}">
	                      				<span th:class="${action.icon}"></span>
	                      			</a>
	                     		</td>
		             		</tr>	
		            		</th:block>
		            	</tbody>
		            </table>
		         </div>
		       	 <div class="row text-center"> 
		       	 	<ui th:replace="auto_crud/ui/data/pagination :: ui(${autoCrudData.pagination},'#formAc', 'pagination2')" ></ui>
		         </div>  
		     </form>     
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />


<script>


</script>    

</body>


</html>
