<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/main :: head" />

<body>

    <div id="wrapper">
        <nav th:replace="fragments/navigation :: navbar"></nav>
    
        <div id="page-wrapper">
            
	    	<div class="row">
	            <div class="col-lg-9">
	                <h1 class="page-header">
	                <i class="fa fa-dashboard"></i>
	                Dashboard
	                </h1>
	                
	                
	            </div>
	            <div class="pull-right col-lg-3">
		            <br />
		            <br />
		            
		            <div class="input-group custom-search-form">
		            
		            	<form th:action="@{/home}" th:object="${periodo}" id="form-daterange">
		            	<input type="hidden" name="periodo" th:field="*{periodo}" id="daterange" th:value="${periodo.periodo}" class="form-control" readonly="readonly" aria-describedby="btnGroupAddon"/>
		            	<div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
						    <i class="fa fa-calendar"></i>&nbsp;
						    <span></span> <i class="fa fa-caret-down"></i>
						</div>
						</form>
                        
                    </div>
		            
		            
	            </div>
	        </div>
	     
	     
	     	                
	                <script>
$(function() {

	var ini = new Date('[[${periodo.getInicioStr("yyyy-MM-dd")}]]');
	var fim = new Date('[[${periodo.getFimStr("yyyy-MM-dd")}]]');

    var start = moment(ini).add(1, 'days');  //moment().subtract(29, 'days');
    var end =   moment(fim).add(1, 'days'); //moment();
   

	function writeData(){
    	$('#daterange').val(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'))
        $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
	
	}

    function cb(start, end, label) {
        writeData();
        console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        window.location.href= "/home?periodo="+start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY');
       // $('#form-daterange').submit();
    }
    
    var configure = {
     
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }

    $('#reportrange').daterangepicker(configure, cb);

    writeData();

});
</script>

	     
	        
           	<div th:replace="fragments/main :: messages"></div>
           
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" th:text="${indicadores.contratosAtivos}">38</div>
                                    <div>Clientes Ativos</div>
                                </div>
                            </div>
                        </div>
                        <a href="/crud/Contrato">
                            <div class="panel-footer">
                                <span class="pull-left">Veja quem são</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-usd fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><span style="font-size: 28px;" th:text="${#numbers.formatCurrency(indicadores.receitaPrevista)}">10.500,00</span></div>
                                    <div>Receita Prevista</div>
                                </div>
                            </div>
                        </div>
                        <a href="/copaAmerica2019/regulamento">
                            <div class="panel-footer">
                                <span class="pull-left">Ver programação</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-trophy fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><span style="font-size: 28px;" th:text="${#numbers.formatCurrency(indicadores.receitaRealizada)}">1340,00</span></div>
                                    <div>Receita Realizada</div>
                                </div>
                            </div>
                        </div>
                        <a href="/copaAmerica2019/ranking">
                            <div class="panel-footer">
                                <span class="pull-left">Ver mais</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-book fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"></div>
                                    <div class="huge"><span style="font-size: 28px;" th:text="${#numbers.formatCurrency(indicadores.valorVencido)}">1340,00</span></div>
                                    <div>Inadiplencia</div>
                                </div>
                            </div>
                        </div>
                        <a href="/copaAmerica2019/regulamento">
                            <div class="panel-footer">
                                <span class="pull-left">Veja agora</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            
            
            <div class="panel panel-default">
               <div class="panel-heading">
                   <i class="fa fa-bar-chart-o fa-fw"></i> Receita Realizada
               </div>
               <div class="panel-body">
                   <div id="receita-chart"></div>
               </div>
            </div>
            
            <script>
            
	            /*
				 * Play with this code and it'll update in the panel opposite.
				 *
				 * Why not try some of the options above?
				 */
				
				
				$(function() {
					  $.ajax({
					    type:"GET", 
					    url: "/home/indicadores-por-empreendimento?periodo="+$('#daterange').val(), 
					    success: function(m_data) {
					    		Morris.Bar({
									  element: 'receita-chart',
									  data: m_data,
									  xkey: 'empreendimento',
									  ykeys: ['contratosAtivos','receitaPrevista', 'receitaRealizada', 'valorVencido'],
									  labels: ['Ativos', 'Previsto', 'Realizado', 'Vencido'],
									  barColors: ["blue", "#1AB244", "#B29215", "red"]
									});
					    		
					        }, 
					    error: function(jqXHR, textStatus, errorThrown) {
					            alert(jqXHR.status);
					        },
					   dataType: "json"
					});
				});	
            
            </script>
             
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Cobranças Vencidas 
                            <div class="pull-right">
                               
                               <!-- 
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Mais Cobranças
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Cobranças a Vencer</a></li>
                                        <li><a href="#">Cobranças a Pagas</a></li>
                                    </ul>
                                </div>
                                 -->
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 10px">
                        
	                        	<table class="table responsive-card-table unstriped">
	                        	<thead>
	                        		<tr>
	                        			<th>Contrato</th>
	                        			<th>Tipo</th>
	                        			<th>Número</th>
	                        			<th>Vencimento</th>
	                        			<th>Valor Atualizado</th>
	                        		</tr>
	                        	</thead>
	                        	<tbody>
	                        		<th:block th:each="vencimento : ${vencimentos}">
		                        		<tr>
		                        			<td data-label="Contrato" th:text="${vencimento.contrato}" ></td>
		                        			<td data-label="Tipo" class="text-center" th:text="${vencimento.tipoDebito}"></td>
		                        			<td data-label="Número" class="text-center" th:text="${vencimento.numero}"></td>
		                        			<td data-label="Vencimento" class="text-center"th:text="${#dates.format(vencimento.dataVencimento, 'dd-MM-yyyy')}">dd-MMM-yyyy</td>
		                        			<td data-label="Valor Atualizado" class="text-right" th:text="${#numbers.formatCurrency(vencimento.valorAtualizado)}"></td>
		                        			
		                        		</tr>
	                        		</th:block>
	                        	</tbody>
	                        
	                        	<tfoot>
	                        		<tr>
	                        			<td colspan="5">
	                        				<a href="/consulta/vencimentos" class="btn btn-default btn-block">Ver Tudo</a>
	                        			</td>
	                        		</tr>
	                        	</tfoot>
	                        
	                        </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-tachometer fa-fw"></i> Maiores Inadiplentes
                        </div>
                        <!-- /.panel-heading -->
                        <style>
			        	.participante td{
			        		background-color: #eee;
			        	}
			        	</style>
                        <table class="table responsive-card-table unstriped" >
	                        	<thead>
	                        		<tr>
	                        			<th>Contrato</th>
	                        			<th>Débitos</th>
	                        			<th>Valor Total</th>
	                        		</tr>
	                        	</thead>
	                        	<tbody>
	                        		<th:block th:each="inadiplente : ${inadiplentes}">
		                        		<tr>
		                        			<td data-label="Contrato" th:text="${inadiplente.contrato}" ></td>
		                        			<td data-label="Débitos"  class="text-center" th:text="${inadiplente.debitos}"></td>
		                        			<td data-label="Valor Total" class="text-right" th:text="${#numbers.formatCurrency(inadiplente.valorAtualizado)}"></td>
		                        			
		                        		</tr>
	                        		</th:block>
	                        	</tbody>
	                        
	                        	<tfoot>
	                        		<tr>
	                        			<td colspan="5">
	                        				<a href="/consulta/vencimentos" class="btn btn-default btn-block">Ver Tudo</a>
	                        			</td>
	                        		</tr>
	                        	</tfoot>
	                        
	                        </table>
                        
                        </table>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    
                  
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <srcript th:replace="fragments/main :: scrptsblock" />
    
    <script>
    /*
    	$(function() {
			  $.ajax({
			    type:"GET", 
			    url: "/chart/desempenho/[[${5}]]", 
			    success: function(data) {
			    
			    		data.xLabelFormat = function(x){return formatDate(x)};
			    		data.dateFormat = function(x){return formatDate(new Date(x))};
			    
			    		Morris.Line(data);
			        }, 
			    error: function(jqXHR, textStatus, errorThrown) {
			            alert(jqXHR.status);
			        },
			   dataType: "json"
			});
		});
	*/		
    </script>
    

</body>

</html>
